table {
    width: 70%; /* Ширина таблицы */
    background: rgb(71, 255, 34); /* Цвет фона таблицы */
    color: rgb(2, 2, 2); /* Цвет текста */
    border-spacing: 1px; /* Расстояние между ячейками */
   }
   td, th {
    background: rgb(0, 128, 90); /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг текста */
   }